.filters-collapsed{
    margin-top: 1rem;
    animation: Select 0.3s ease-in-out;

    transition: all 0.3s ease-in-out;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .filter{
        flex-basis: 100%;
        margin: 0.3rem 0;

        @include breakpoint(xs){
            flex-basis: 50%;
        }
        @include breakpoint(m){
            flex-basis: 33.33333%;
        }
        @include breakpoint(md){
            flex-basis: 50%;
        }
        @include breakpoint(xl){
            flex-basis: 33.33333%;
        }
    }
}
.ingredients-filters{
    display: none;
}
.appliances-filters{
    display: none;
}
.ustensils-filters{
    display: none;
}